* {
  box-sizing: border-box;
}

body {
  padding-top: 0;
  background: #EDFFE7;
  font-weight: lighter;
}

h1, h3 {
  text-align: center;
}

h1, h2, h3, h4, h5 {
  font-weight: lighter;
}

.site-title {
  margin: 10px 0;
}

.container {
  margin: 0 auto;
  width: 800px;
}

nav, footer {
  padding: 15px;
  background: #382F25;
  color: white;
  min-width: 800px;
}

.site-title {
  margin-top: 0;
}

.upper-container {
  margin-top: 25px;
  display: flex;
  flex-direction: row;
}

.form-container, .example-container {
  display: inline-block;
  width: 100%;
}

.example-container {
  padding-left: 10px;
}

.example-title {
  margin: 0 0 10px 0;
}

.examples {
  background: #D6CA9A;
}

.example {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  cursor: hand;
  cursor: pointer;
}

.example:hover {
  background: #D2E88B;
}

.input {
  display: block;
  margin: 5px 0;
  font-size: 16px;
}

.btn {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  color: #FFF;
}

.btn-neut {
  background: #999;
}

.btn-pos {
  background: #00B21E;
}

.btn-neg {
  background: #B20025;
}

.url-input {
  width: 350px;
  height: 35px;
}

.json-input {
  width: 350px;
  height: 100px;
  resize: none;
  border: 1px solid lightgray;
}

#closeSocketRequestBtn, #resetFormsBtn {
  display: none;
}

.checkbox-container {
  color: #FFF;
  margin-bottom: 10px;
}

.console {
  height: 800px;
  border: 1px solid black;
  background: black;
  color: white;
  padding: 10px;
  overflow: auto;
}

.console::-webkit-scrollbar {
  width: 10px;
}

.console::-webkit-scrollbar-thumb {
  height: 50px;
  background-color: #FFF;
}


.data-object {
  color: white;
}

footer {
  margin-top: 20px;
  height: 70px;
  text-align: center;
}

footer a {
  color: #FFF;
}

@media screen and (max-width: 500px) {

  nav, footer {
    min-width: 0;
  }

  .sub-title {
    line-height: 22px;
  }

  .container {
    width: 100%;
    padding: 0 15px;
  }

  .upper-container {
    flex-direction: column-reverse;
    -webkit-flex-direction: column-reverse;
  }

  .example-container {
    padding-left: 0;
  }

  .form-container {
    margin-top: 20px;
  }

  .url-input, .json-input {
    width: 100%;
  }

  .console {
    height: 300px;
  }
}
