* {
  box-sizing: border-box;
}

h1, h3 {
  text-align: center;
}

h3 {
  font-weight: lighter;
}

.site-title {
  margin: 10px 0;
}

.container {
  margin: 0 auto;
  width: 800px;
}

.upper-container {
  display: flex;
  flex-direction: row;
}

.form-container, .example-container {
  display: inline-block;
  width: 100%;
}

.example-container {
  padding-left: 10px;
}

.examples {
  background: lightgray;
}


.example {
  width: 100%;
  height: 40px;
  padding: 0 10px;
  line-height: 40px;
  cursor: hand;
  cursor: pointer;
}

.example:hover {
  background: green;
}

.input {
  display: block;
  margin: 5px 0;
  font-size: 16px;
}

.url-input {
  width: 350px;
  height: 25px;
}

.json-input {
  width: 300px;
  height: 100px;
  resize: none;
}

#closeSocketRequestBtn {
  display: none;
}

.console {
  height: 600px;
  border: 1px solid black;
  background: black;
  color: white;
  padding: 10px;
  overflow: auto;
}

.data-object {
  color: white;
}